.form-login {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  background-color: $primary;
  width: 100%;
  padding-top: $padding-item;
  margin-bottom: $margin-betwwen-post;
  border: $border-color;
  border-radius: $border-post;
  -webkit-border-radius: $border-post;
  -moz-border-radius: $border-post;
  box-shadow: $box-shadow;
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  .section-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 248px;
    .input-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      label{
        margin-bottom: 5px;
        margin-left: 5px;
      }
      input {
        outline: none;
        height: 36px;
        padding: $padding-inputs;
        border: $border-color;
        border-radius: $border-post;
        -webkit-border-radius: $border-post;
        -moz-border-radius: $border-post;
        box-shadow: $box-shadow;
        -webkit-box-shadow: $box-shadow;
        -moz-box-shadow: $box-shadow;
      }
    }
  }
  .section-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    p {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}
