.product-banner {
  background-color: $primary;
  height: $banner-h;
  padding-right: $padding-primary;
  padding-left: $padding-primary;
  display: flex;
  align-items: center;
  .product-title {
    text-shadow: 2px 2px 2px $secondary;
    color: $white;
    cursor: pointer;
    font-size: $size-titles;
    text-decoration: none;
    transition: color 0.3s ease-in;
    display: inline-block;
    font-weight: bold;
    &:hover {
      color: darken($color: $white, $amount: 10);
    }
  }
}
.product-section {
  background-color: $content-bg;
  height: auto;
  min-height: calc(100% - #{$banner-h});
  padding-left: $padding-secondary;
  padding-right: $padding-secondary;
  padding-top: $padding-top-separator;
  .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .single-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 100%;
      max-width: 400px;
      height: auto;
    }
    h4 {
      margin-bottom: 10px;
    }
  }
  .comments {
    .comment {
      display: flex;
      p {
        margin-left: 10px;
      }
    }
    .profile-img {
      display: inline-block;
      height: 42px;
      width: 42px;
      background-color: lighten($color: $third, $amount: 20);
    }
  }
  .comment-form {
    display: flex;
    flex-direction: row;

    .comment {
      overflow-x: hidden;
      overflow-wrap: break-word;
      height: $height-inputs;
      width: 100%;
      margin-right: $margin-17;
      resize: none;
      padding: $padding-inputs;
    }
  }
  .create-section {
    display: flex;
    > div {
      display: inline-block;
      width: 50%;
    }
  }
}

.product-article {
  width: $size-card;
  height: $size-card;
  border-radius: $border-card;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin: 0 $margin-17 35px $margin-17;
  background-color: $lighten-secondary-10;
  position: relative;
  img {
    height: auto;
    max-height: 80%;
    width: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .info {
    background-color: $white;
    border-radius: 3px;
    padding: $padding-inputs;
    height: 100%;
    overflow: hidden;
    transition: transform 0.4s, border-radius 0.15s;
    &:hover {
      transform: translateY(-80%);
      border-radius: $border-card;
    }
    .title {
      display: flex;
      justify-content: space-between;
      span {
        cursor: pointer;
      }
    }
  }

  .link {
    background-color: $white;
    width: 100%;
    padding: $padding-inputs;
    padding-bottom: 3px;
    padding-top: 0px;
    bottom: 0;
    position: absolute;
  }
}
