.msgInfoAddComment {
  padding: $padding-item;
  background-color: $third;
}

.publication-banner {
  background-color: $primary;
  height: $banner-h;
  padding-right: $padding-primary;
  padding-left: $padding-primary;
  display: flex;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;

  border-bottom: $border-color;
  @media (max-width: $width-md-px) {
    padding-right: calc((100vw * 20) /#{$width-md});
    padding-left: calc((100vw * 20) /#{$width-md});
  }

  .user-logged {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    img {
      width: 24px;
      margin-left: 5px;
      cursor: pointer;
    }
  }
}
.publication-title {
  text-shadow: 1px 1px 1px lighten($color: $secondary, $amount: 30);
  color: $secondary;
  cursor: pointer;
  font-size: $size-titles;
  text-decoration: none;
  transition: color 0.3s ease-in;
  display: inline-block;
  font-weight: bold;
  &:hover {
    color: $secondary-hover;
  }
}
.publication-section {
  background-color: $third;
  height: auto;
  min-height: calc(100vh - #{$banner-h});
  padding-left: $padding-secondary;
  padding-right: $padding-secondary;
  padding-top: $padding-top-separator;
  @media (max-width: $width-md-px) {
    padding-right: calc((100vw * 20) /#{$width-md});
    padding-left: calc((100vw * 20) /#{$width-md});
  }
  .content-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    .publication-item {
      background-color: $primary;
      width: 100%;
      box-shadow: -1px 4px 11px -1px darken($color: $primary, $amount: 10);
      padding-top: $padding-item;
      margin-bottom: $margin-betwwen-publication;
      border: $border-color;
      border-radius: $border-publication;
      -webkit-border-radius: $border-publication;
      -moz-border-radius: $border-publication;
      box-shadow: $box-shadow;
      -webkit-box-shadow: $box-shadow;
      -moz-box-shadow: $box-shadow;
      & > div {
        padding-bottom: $padding-item;
        padding-left: $padding-item;
        padding-right: $padding-item;
      }
      .publication-item-content {
        display: flex;
        flex-direction: row;
        .publication-item-desc {
          max-width: $max-width-desc;
          width: 100%;
          padding-left: $padding-item;
          padding-top: $padding-item;
          & > p {
            margin-bottom: $margin-betwwen-publication;
          }
          .publication-desc-group-name {
            margin-bottom: $margin-betwwen-publication;
          }
        }
      }
      .publication-item-reaction {
        display: flex;
        justify-content: space-between;
        border-top: $border-color;
        border-bottom: $border-color;
        padding-top: $padding-item;
        p {
          &:nth-child(2) {
            color: $color-font-light;
          }
        }
      }
    }
  }
  .item-profile {
    width: 15%;
  }

  .publication-form {
    background-color: $primary;
    margin-bottom: $margin-betwwen-publication;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: $border-color;
    textarea {
      border-bottom: $border-color;
      padding-top: 23px;
      padding-bottom: 23px;
      &::-webkit-input-placeholder {
        color: $secondary;
      }
      &::-moz-placeholder {
        color: $secondary;
      }
      &:-ms-input-placeholder {
        color: $secondary;
      }
      &::-ms-input-placeholder {
        color: $secondary;
      }
      &::placeholder {
        color: $secondary;
      }
    }
    button {
      color: $primary;
      margin: 7px;
    }
  }
}

.focusToTextActive {
  color: $secondary !important;
  cursor: unset !important;
  opacity: 0.7;

}
