* {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
}

.main {
    width: 100%;
    height: 100vh;
}

.my-2{
    margin-top: 20px;
    margin-bottom: 20px;
}

.bg-white{
    background-color: $white;
}