// Colors
$primary: #F6BC5B;
$secondary: #912f30;
$lighten-secondary-10: lighten($color: $secondary, $amount: 10);
$third: #210406;
$content-bg: #f7f2e8;
$white: #fff;
$light-grey: #d8d8d8;
$dark-grey: #363636;


//tamaños
$size-card: 350px;
$size-titles: 30px;
$banner-h: 80px;
$border-card: 13px 13px 3px 3px;
$p-info-card: 10px;
$padding-primary: 10vw;
$padding-secondary: 15vw;
$padding-top-separator: 30px;
$margin-card: 17px;