// Colors
$primary: #F6BC5B;
$secondary: #912f30;
$lighten-secondary-10: lighten($color: $secondary, $amount: 10);
$third: #210406;
$content-bg: #f7f2e8;
$white: #fff;
$light-grey: #d8d8d8;
$dark-grey: #363636;


//tamaños
$size-card: 350px;
$size-titles: 30px;
$banner-h: 80px;
$max-width-inputs: 248px;
$height-inputs: 48px;
//borders
$border-card: 13px 13px 3px 3px;
$b-radius-3: 3px;
$b-rdius-5: 5px;
//margins
$margin-17: 17px;
//paddings
$padding-inputs: 10px;
$padding-primary: 10vw;
$padding-secondary: 15vw;
$padding-top-separator: 30px;